.xmake/ui.log
.xmake/linux/x86_64/cache
.xmake/linux/x86_64/tmp

compile_commands.json

.cache
.ccls-cache

build

*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
