set timeout=0
set default=0

# Desativar saída gráfica para evitar erros de driver de vídeo no UEFI
set gfxpayload=text

menuentry "FKernel MockOS" {
    multiboot2 /boot/FKernel.bin
    module2 /boot/initrd.tar initrd
    boot
}