set timeout=2
set default=0

# Try to use VESA LFB if available
set gfxmode=1024x768x32,auto
set gfxpayload=keep

menuentry "FKernel Live-Minimal (Serial Debug)" {
    multiboot2 /boot/FKernel.bin
    module2 /boot/initrd.tar initrd
    boot
}

menuentry "FKernel Text-Only Safe Mode" {
    set gfxpayload=text
    multiboot2 /boot/FKernel.bin
    module2 /boot/initrd.tar initrd
    boot
}